<nav>
  <div class="site-title">
    <a href="/"><h1>Blogger.in</h1></a>
    <p>Blogging simplified.</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
